@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600;700&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  font-family: 'Rajdhani', sans-serif;
font-family: 'Raleway', sans-serif;
}

body::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgb(0, 0, 0);
}

@media (min-width: 1024px) {
  body {
    background-attachment: fixed;
  }
}

a {
  color: #24b7a4;
  text-decoration: none;
}

a:hover {
  color: #36d8c3;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

#main {
  position: relative;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: relative;
  width: 100%;
  padding: 100px 0;
  /* countdown */
}
#header ul{
  list-style: none;
}

#header h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  text-align: center;
}

#header h2 {
  color: #eee;
  margin-bottom: 40px;
  font-size: 22px;
}

#header .countdown {
  margin-bottom: 0px;
}

#header .countdown div {
  text-align: center;
  /* border: 2px solid rgba(255, 255, 255, 0.8); */
  border-radius: 8px;
  margin: 10px 30px;
  width: 100px;
  padding: 15px 0;
}

#header .countdown div h3 {
  font-family: 'Rajdhani', sans-serif;
  color: #00D1FF;
  font-weight: 700;
  font-size: 96px;
  margin-bottom: 15px;

}

#header .countdown div h4 {
  color: #00D1FF;
  font-size: 24px;
  font-weight: 300;
}

@media (max-width: 575px) {
  #header .countdown div {
    width: 70px;
    padding: 10px 0;
    margin: 10px 8px;
  }

  #header .countdown div h3 {
    font-size: 28px;
    margin-bottom: 10px;
  }

  #header .countdown div h4 {
    font-size: 14px;
    font-weight: 500;
  }
}
.coming h1{
  color: #00D1FF;
    font-weight: 300;
  font-size: 48px;
  
}
.coming span{
  color: #ffffff;
}


#header .subscribe {
  font-size: 15px;
  text-align: center;
}

#header .subscribe h4 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#header .subscribe .subscribe-form {
  min-width: 350px;
  margin-top: 10px;
  border: #00D1FF 1px solid;
  background: rgb(255, 255, 255);
  padding: 6px 10px;
  position: relative;
  border-radius: 100px;
  text-align: left;
}

#header .subscribe .subscribe-form input[type=email] {
  border:0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}
#header textarea:focus, input:focus{
  outline: none;
}

#header .subscribe .subscribe-form input[type=submit] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #00D1FF;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px ;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .subscribe .subscribe-form input[type=submit]:hover {
  background: #ffffff;
  color: #00D1FF;
}

#header .subscribe .error-message {
  display: none;
  color: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

#header .subscribe .sent-message {
  display: none;
  color: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

#header .subscribe .loading {
  display: none;
  text-align: center;
  padding: 15px;
}

#header .subscribe .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading-notify 1s linear infinite;
  animation: animate-loading-notify 1s linear infinite;
}

@-webkit-keyframes animate-loading-notify {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading-notify {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#header .social-links {
  margin-top: 40px;
}

#header .social-links a {
  font-size: 16px;
  color: #fff;
  margin: 0 3px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  transition: 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#header .social-links a i {
  line-height: 0;
}

#header .social-links a:hover {
  background: #24b7a4;
  border-color: #24b7a4;
}

@media only screen and (max-width: 575px) {
  #header h1 {
    margin: 0 0 10px 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    color: #fff;
    text-align: center;
  }
  #header h2 {
    color: #eee;
    margin-bottom: 20px;
    font-size: 10px;
  }
}